    .vt323-regular {
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
    }
    html {
        font-size: 14px;
        font-family: "VT323", monospace;
        background-color: #00c1ff;
    }
    body{
        display: block;
        max-width: 800px;
        margin: 0 auto;
        padding: 0px 20px 20px 20px;
        border: #00c1b2;
        background-color: #795179;
        font-size: 14px;
        font-family: "VT323", monospace;
    }
    nav{
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        max-width: 750px;
        & > ul {
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            gap: 5px;
        }
    }
    iframe{
        display: flex;
        width: 95%;
    }
